In [85]:
import pandas as pd 
import json

df1 = pd.read_csv('mturk_results/Batch_5320889_batch_results_first10_pilot.csv', encoding='utf-8')
df2 = pd.read_csv('mturk_results/Batch_5321077_batch_results_next40.csv', encoding='utf-8')
df3 = pd.read_csv('mturk_results/Batch_5321100_batch_results_last50.csv', encoding='utf-8')

# merge the two dataframes
df = pd.concat([df1, df2, df3], ignore_index=True)
df.columns

Index(['HITId', 'HITTypeId', 'Title', 'Description', 'Keywords', 'Reward',
       'CreationTime', 'MaxAssignments', 'RequesterAnnotation',
       'AssignmentDurationInSeconds', 'AutoApprovalDelayInSeconds',
       'Expiration', 'NumberOfSimilarHITs', 'LifetimeInSeconds',
       'AssignmentId', 'WorkerId', 'AssignmentStatus', 'AcceptTime',
       'SubmitTime', 'AutoApprovalTime', 'ApprovalTime', 'RejectionTime',
       'RequesterFeedback', 'WorkTimeInSeconds', 'LifetimeApprovalRate',
       'Last30DaysApprovalRate', 'Last7DaysApprovalRate', 'Input.q_strings',
       'Answer.taskAnswers', 'Approve', 'Reject'],
      dtype='object')

In [86]:
submission_df = df[['WorkerId','WorkTimeInSeconds','Answer.taskAnswers']]
submission_df

,WorkerId,WorkTimeInSeconds,Answer.taskAnswers
0,A1WTHBAWHRVU4P,559,"[{""104_B_ours_instag_q1"":{""instag"":false,""ours..."
1,A1G1O82VQI14Y1,189,"[{""074_A_ga_ours_q1"":{""ga"":false,""ours"":true},..."
2,A2DXOYMV4TJWLF,377,"[{""074_B_ours_instag_q1"":{""instag"":false,""ours..."
3,A1IRR3HIAYF363,452,"[{""218_B_ours_instag_q1"":{""instag"":false,""ours..."
4,AXPTF739HYEZX,517,"[{""074_B_talkg_ours_q1"":{""ours"":true,""talkg"":f..."
...,...,...,...
115,ABL6IBQNPU59Z,706,"[{""253_B_instag_ours_q1"":{""instag"":true,""ours""..."
116,APLYJOP26WC4W,491,"[{""104_A_instag_ours_q1"":{""instag"":true,""ours""..."
117,A5OH0SQJYFO2H,1089,"[{""074_A_instag_ours_q1"":{""instag"":true,""ours""..."
118,A9T4KLSX4JUUP,298,"[{""253_A_ga_ours_q1"":{""ga"":false,""ours"":true},..."
119,A2KWD81ZH7T234,977,"[{""104_A_talkg_ours_q1"":{""ours"":true,""talkg"":f..."

In [87]:
# answer stats per worker
# recall: each worker answers 9 x 3 = 27 questions, full score is 27
for i in range(len(submission_df)):
    print(f"workerid: {submission_df.at[i, 'WorkerId']}, worktime: {submission_df.at[i, 'WorkTimeInSeconds']}")
    answer_json = json.loads(submission_df.at[i, 'Answer.taskAnswers'])
    methods = ['ours', 'ga', 'talkg', 'instag']
    score_dict = {method: 0 for method in methods}
    for question, answer in answer_json[0].items():
        # print(f"question: {question}, answer: {answer}") # see individual answers
        for method, score in answer.items():
            if method in methods:
                score_dict[method] += int(score)
    print(f"score_dict: {score_dict}")

workerid: A1WTHBAWHRVU4P, worktime: 559
score_dict: {'ours': 24, 'ga': 0, 'talkg': 3, 'instag': 0}
workerid: A1G1O82VQI14Y1, worktime: 189
score_dict: {'ours': 8, 'ga': 7, 'talkg': 7, 'instag': 5}
workerid: A2DXOYMV4TJWLF, worktime: 377
score_dict: {'ours': 10, 'ga': 4, 'talkg': 7, 'instag': 6}
workerid: A1IRR3HIAYF363, worktime: 452
score_dict: {'ours': 25, 'ga': 1, 'talkg': 1, 'instag': 0}
workerid: AXPTF739HYEZX, worktime: 517
score_dict: {'ours': 21, 'ga': 4, 'talkg': 2, 'instag': 0}
workerid: A2T8AISA63GR31, worktime: 553
score_dict: {'ours': 24, 'ga': 0, 'talkg': 3, 'instag': 0}
workerid: A25GP17YDFVXPC, worktime: 198
score_dict: {'ours': 18, 'ga': 3, 'talkg': 4, 'instag': 2}
workerid: AIOJAGGDX2E2Z, worktime: 488
score_dict: {'ours': 20, 'ga': 0, 'talkg': 4, 'instag': 3}
workerid: A1S1HDM5HBGT1B, worktime: 405
score_dict: {'ours': 15, 'ga': 3, 'talkg': 3, 'instag': 6}
workerid: A2NC3DH5SD5OPJ, worktime: 554
score_dict: {'ours': 17, 'ga': 3, 'talkg': 3, 'instag': 4}
workerid: A1PS4684V34OYQ, worktime: 499
score_dict: {'ours': 26, 'ga': 1, 'talkg': 0, 'instag': 0}
workerid: A2500R0F1TR1P0, worktime: 548
score_dict: {'ours': 12, 'ga': 9, 'talkg': 6, 'instag': 0}
workerid: A2DU5LUV8A4QKV, worktime: 971
score_dict: {'ours': 18, 'ga': 2, 'talkg': 4, 'instag': 3}
workerid: A277UK375O5RUE, worktime: 1707
score_dict: {'ours': 22, 'ga': 1, 'talkg': 1, 'instag': 3}
workerid: A354PJI5FUTR2Y, worktime: 503
score_dict: {'ours': 22, 'ga': 0, 'talkg': 1, 'instag': 4}
workerid: A2G29RSB5UGTU0, worktime: 503
score_dict: {'ours': 21, 'ga': 0, 'talkg': 3, 'instag': 3}
workerid: A1BZBU6HF1UJ08, worktime: 367
score_dict: {'ours': 27, 'ga': 0, 'talkg': 0, 'instag': 0}
workerid: AT9MEI9JKAQGV, worktime: 563
score_dict: {'ours': 18, 'ga': 3, 'talkg': 0, 'instag': 6}
workerid: ABZQH9O8CO3ON, worktime: 1367
score_dict: {'ours': 24, 'ga': 0, 'talkg': 2, 'instag': 1}
workerid: A3K6RBVI4HMYN0, worktime: 995
score_dict: {'ours': 19, 'ga': 0, 'talkg': 4, 'instag': 4}
workerid: A2TDHNWZL5BC6E, worktime: 624
score_dict: {'ours': 13, 'ga': 3, 'talkg': 7, 'instag': 4}
workerid: AAB9IMQ2GXZRL, worktime: 1204
score_dict: {'ours': 8, 'ga': 5, 'talkg': 12, 'instag': 2}
workerid: AWY8ZMGJ7RO9Q, worktime: 928
score_dict: {'ours': 14, 'ga': 3, 'talkg': 6, 'instag': 4}
workerid: A2JDA7GSTK3UUI, worktime: 410
score_dict: {'ours': 18, 'ga': 1, 'talkg': 3, 'instag': 5}
workerid: AHV3GBEFXDH84, worktime: 967
score_dict: {'ours': 27, 'ga': 0, 'talkg': 0, 'instag': 0}
workerid: A1N9HK3VXUBBS4, worktime: 640
score_dict: {'ours': 21, 'ga': 0, 'talkg': 3, 'instag': 3}
workerid: A3NDSZRG9457N0, worktime: 1516
score_dict: {'ours': 19, 'ga': 4, 'talkg': 3, 'instag': 1}
workerid: AC3G4Y0T90MGJ, worktime: 496
score_dict: {'ours': 14, 'ga': 4, 'talkg': 8, 'instag': 1}
workerid: A1YR63VHRMKXA2, worktime: 1706
score_dict: {'ours': 18, 'ga': 3, 'talkg': 6, 'instag': 0}
workerid: A1M5AUP6NBC1T5, worktime: 277
score_dict: {'ours': 8, 'ga': 3, 'talkg': 10, 'instag': 6}
workerid: ADXF5KVA2AAMA, worktime: 1272
score_dict: {'ours': 17, 'ga': 3, 'talkg': 2, 'instag': 5}
workerid: A1ITCXFQYJ8S6T, worktime: 619
score_dict: {'ours': 16, 'ga': 5, 'talkg': 3, 'instag': 3}
workerid: A38DKQBBIBLOMN, worktime: 1502
score_dict: {'ours': 27, 'ga': 0, 'talkg': 0, 'instag': 0}
workerid: A13K6S6AZNO4U0, worktime: 891
score_dict: {'ours': 20, 'ga': 0, 'talkg': 6, 'instag': 1}
workerid: A37GT6QC1FB93T, worktime: 447
score_dict: {'ours': 23, 'ga': 1, 'talkg': 0, 'instag': 3}
workerid: A26KNTBSOL8U38, worktime: 706
score_dict: {'ours': 19, 'ga': 2, 'talkg': 5, 'instag': 1}
workerid: A1IQNR6IXSPHY7, worktime: 955
score_dict: {'ours': 27, 'ga': 0, 'talkg': 0, 'instag': 0}
workerid: A39497ARN7GUND, worktime: 1724
score_dict: {'ours': 26, 'ga': 0, 'talkg': 1, 'instag': 0}
workerid: A19JTHEJLF4JYE, worktime: 413
score_dict: {'ours': 17, 'ga': 2, 'talkg': 1, 'instag': 7}
workerid: A3B891IBP6VDBB, worktime: 1291
score_dict: {'ours': 18, 'ga': 1, 'talkg': 6, 'instag': 2}
workerid: AN4MTZGSPPLW5, worktime: 1460
score_dict: {'ours': 21, 'ga': 5, 'talkg': 0, 'instag': 1}
workerid: AGQEPVNHU91XW, worktime: 714
score_dict: {'ours': 13, 'ga': 7, 'talkg': 2, 'instag': 5}
workerid: A3VQDUUA2RI8KL, worktime: 176
score_dict: {'ours': 13, 'ga': 5, 'talkg': 4, 'instag': 5}
workerid: AKRPDCCP793ET, worktime: 1731
score_dict: {'ours': 21, 'ga': 0, 'talkg': 3, 'instag': 3}
workerid: AYB2CW4L1Q569, worktime: 538
score_dict: {'ours': 17, 'ga': 1, 'talkg': 5, 'instag': 4}
workerid: A3AMQZEK5KLOD5, worktime: 991
score_dict: {'ours': 0, 'ga': 6, 'talkg': 6, 'instag': 15}
workerid: A3D06GN22YE2W0, worktime: 668
score_dict: {'ours': 27, 'ga': 0, 'talkg': 0, 'instag': 0}
workerid: A2M025SGKETM5V, worktime: 1139
score_dict: {'ours': 18, 'ga': 0, 'talkg': 6, 'instag': 3}
workerid: A1OJVQNHQUWKUQ, worktime: 551
score_dict: {'ours': 11, 'ga': 2, 'talkg': 10, 'instag': 4}
workerid: A3JI194T9VVETR, worktime: 1429
score_dict: {'ours': 13, 'ga': 9, 'talkg': 1, 'instag': 4}
workerid: A3CCZSHRCIV3F3, worktime: 788
score_dict: {'ours': 15, 'ga': 4, 'talkg': 6, 'instag': 2}
workerid: AC59G36NAHBBH, worktime: 800
score_dict: {'ours': 16, 'ga': 0, 'talkg': 6, 'instag': 5}
workerid: A2EYCHSR4AKPRB, worktime: 492
score_dict: {'ours': 14, 'ga': 8, 'talkg': 1, 'instag': 4}
workerid: AK4947CIG17B5, worktime: 509
score_dict: {'ours': 14, 'ga': 7, 'talkg': 3, 'instag': 3}
workerid: A2SM5YKVVKRNU0, worktime: 1006
score_dict: {'ours': 15, 'ga': 0, 'talkg': 6, 'instag': 6}
workerid: A3MF0MGWJJZ794, worktime: 1186
score_dict: {'ours': 12, 'ga': 5, 'talkg': 5, 'instag': 5}
workerid: A20W131HRJ8W2G, worktime: 705
score_dict: {'ours': 24, 'ga': 0, 'talkg': 3, 'instag': 0}
workerid: A1FLZ4TGL9OY10, worktime: 1251
score_dict: {'ours': 11, 'ga': 5, 'talkg': 5, 'instag': 6}
workerid: AIF2RKFW05F1I, worktime: 1530
score_dict: {'ours': 19, 'ga': 3, 'talkg': 5, 'instag': 0}
workerid: ASTUNO7Z76QNQ, worktime: 647
score_dict: {'ours': 25, 'ga': 0, 'talkg': 0, 'instag': 2}
workerid: A1Q60ABMJMP2EG, worktime: 658
score_dict: {'ours': 13, 'ga': 3, 'talkg': 5, 'instag': 6}
workerid: AN2Q9TFPBTFPU, worktime: 380
score_dict: {'ours': 12, 'ga': 7, 'talkg': 0, 'instag': 8}
workerid: ADS8RVZ6WQ7M6, worktime: 847
score_dict: {'ours': 18, 'ga': 0, 'talkg': 3, 'instag': 6}
workerid: A360EMC8G3DNEZ, worktime: 1722
score_dict: {'ours': 14, 'ga': 2, 'talkg': 5, 'instag': 6}
workerid: A2Q8W9EV4RRC0O, worktime: 516
score_dict: {'ours': 27, 'ga': 0, 'talkg': 0, 'instag': 0}
workerid: A31YDQRHD30CBU, worktime: 1163
score_dict: {'ours': 27, 'ga': 0, 'talkg': 0, 'instag': 0}
workerid: A15IB5Q6E3SIR8, worktime: 519
score_dict: {'ours': 14, 'ga': 5, 'talkg': 4, 'instag': 4}
workerid: A32RJUGII7UQFA, worktime: 666
score_dict: {'ours': 6, 'ga': 9, 'talkg': 12, 'instag': 0}
workerid: AXDD3EC2J3LI9, worktime: 395
score_dict: {'ours': 18, 'ga': 0, 'talkg': 6, 'instag': 3}
workerid: A36NN2SYE69OJT, worktime: 557
score_dict: {'ours': 24, 'ga': 0, 'talkg': 3, 'instag': 0}
workerid: A2OKTK1QQGQLPL, worktime: 1155
score_dict: {'ours': 10, 'ga': 2, 'talkg': 12, 'instag': 3}
workerid: A2DBRVROZ9PMUM, worktime: 874
score_dict: {'ours': 13, 'ga': 0, 'talkg': 7, 'instag': 7}
workerid: A1KDS0K9TLOJ0P, worktime: 327
score_dict: {'ours': 15, 'ga': 3, 'talkg': 4, 'instag': 5}
workerid: A1XN76VXDDX7PB, worktime: 1034
score_dict: {'ours': 15, 'ga': 1, 'talkg': 9, 'instag': 2}
workerid: AX8D3L76H0JR7, worktime: 289
score_dict: {'ours': 11, 'ga': 6, 'talkg': 6, 'instag': 4}
workerid: A1QMSOEETUUN5F, worktime: 633
score_dict: {'ours': 14, 'ga': 3, 'talkg': 3, 'instag': 7}
workerid: APGCBLLO30QS5, worktime: 807
score_dict: {'ours': 24, 'ga': 0, 'talkg': 0, 'instag': 3}
workerid: AQFGXFU8SH9UZ, worktime: 1001
score_dict: {'ours': 18, 'ga': 0, 'talkg': 6, 'instag': 3}
workerid: A16MEV9DI9VMAW, worktime: 580
score_dict: {'ours': 14, 'ga': 3, 'talkg': 7, 'instag': 3}
workerid: A105YRJ9M16N2P, worktime: 552
score_dict: {'ours': 9, 'ga': 6, 'talkg': 9, 'instag': 3}
workerid: A299GWQ2CN7VAP, worktime: 961
score_dict: {'ours': 15, 'ga': 3, 'talkg': 3, 'instag': 6}
workerid: A3BH8CDSJYTE8P, worktime: 684
score_dict: {'ours': 13, 'ga': 2, 'talkg': 3, 'instag': 9}
workerid: A1OZ52GN5BC0LI, worktime: 719
score_dict: {'ours': 24, 'ga': 0, 'talkg': 0, 'instag': 3}
workerid: A2GO1NA08FHYY0, worktime: 448
score_dict: {'ours': 21, 'ga': 0, 'talkg': 6, 'instag': 0}
workerid: A1ORNR8N4BVVRB, worktime: 1597
score_dict: {'ours': 12, 'ga': 3, 'talkg': 5, 'instag': 7}
workerid: A1N63NKTHGO2TF, worktime: 874
score_dict: {'ours': 27, 'ga': 0, 'talkg': 0, 'instag': 0}
workerid: A1SA7YC8G8P8EI, worktime: 718
score_dict: {'ours': 6, 'ga': 4, 'talkg': 3, 'instag': 14}
workerid: A12HYC1E6I9Q7B, worktime: 793
score_dict: {'ours': 24, 'ga': 0, 'talkg': 3, 'instag': 0}
workerid: A27J7MS6VZI7PU, worktime: 1376
score_dict: {'ours': 12, 'ga': 0, 'talkg': 9, 'instag': 6}
workerid: A226H2Q86WTRBL, worktime: 568
score_dict: {'ours': 12, 'ga': 6, 'talkg': 7, 'instag': 2}
workerid: AF1NOXBLES1SQ, worktime: 826
score_dict: {'ours': 9, 'ga': 3, 'talkg': 15, 'instag': 0}
workerid: A17KE3TH6Y74DW, worktime: 617
score_dict: {'ours': 24, 'ga': 0, 'talkg': 3, 'instag': 0}
workerid: A399KEW0PW1VGW, worktime: 487
score_dict: {'ours': 13, 'ga': 5, 'talkg': 4, 'instag': 5}
workerid: A3DKTMGW2UME5S, worktime: 981
score_dict: {'ours': 24, 'ga': 0, 'talkg': 3, 'instag': 0}
workerid: A1GS52JKRG5BC3, worktime: 596
score_dict: {'ours': 23, 'ga': 1, 'talkg': 2, 'instag': 1}
workerid: A15E6XNFAQ2WMU, worktime: 752
score_dict: {'ours': 13, 'ga': 4, 'talkg': 5, 'instag': 5}
workerid: A37UXPHCK77QEG, worktime: 434
score_dict: {'ours': 13, 'ga': 6, 'talkg': 3, 'instag': 5}
workerid: A3PXEKUDVG130R, worktime: 876
score_dict: {'ours': 24, 'ga': 0, 'talkg': 3, 'instag': 0}
workerid: A28LWVI3S1OCAF, worktime: 412
score_dict: {'ours': 27, 'ga': 0, 'talkg': 0, 'instag': 0}
workerid: A2CFRN1ETU8NAK, worktime: 639
score_dict: {'ours': 14, 'ga': 3, 'talkg': 5, 'instag': 5}
workerid: A323AV9CJJSJGS, worktime: 1154
score_dict: {'ours': 18, 'ga': 0, 'talkg': 3, 'instag': 6}
workerid: A1ZGWMA6BBM3CU, worktime: 433
score_dict: {'ours': 12, 'ga': 3, 'talkg': 4, 'instag': 8}
workerid: A1QOMI95JSU4EC, worktime: 742
score_dict: {'ours': 15, 'ga': 6, 'talkg': 1, 'instag': 5}
workerid: A12ZAHBWT004A0, worktime: 1258
score_dict: {'ours': 18, 'ga': 0, 'talkg': 3, 'instag': 6}
workerid: A1CHHLA6LVAS34, worktime: 317
score_dict: {'ours': 27, 'ga': 0, 'talkg': 0, 'instag': 0}
workerid: A52BF5BI5VPTZ, worktime: 1229
score_dict: {'ours': 8, 'ga': 5, 'talkg': 9, 'instag': 5}
workerid: A32H3K295Z1BMU, worktime: 1603
score_dict: {'ours': 27, 'ga': 0, 'talkg': 0, 'instag': 0}
workerid: A3LR8UBZT9S7T8, worktime: 810
score_dict: {'ours': 26, 'ga': 0, 'talkg': 0, 'instag': 1}
workerid: A1WWCW44VS6E4L, worktime: 802
score_dict: {'ours': 24, 'ga': 3, 'talkg': 0, 'instag': 0}
workerid: A1SA7YC8G8P8EI, worktime: 284
score_dict: {'ours': 17, 'ga': 3, 'talkg': 2, 'instag': 5}
workerid: AAF60N5MOEOI1, worktime: 1128
score_dict: {'ours': 15, 'ga': 0, 'talkg': 6, 'instag': 6}
workerid: A24ACSDYJCJA4A, worktime: 1248
score_dict: {'ours': 21, 'ga': 0, 'talkg': 6, 'instag': 0}
workerid: A2INW0BATUY89Y, worktime: 814
score_dict: {'ours': 27, 'ga': 0, 'talkg': 0, 'instag': 0}
workerid: A3SJ110EG8T6W2, worktime: 479
score_dict: {'ours': 27, 'ga': 0, 'talkg': 0, 'instag': 0}
workerid: ASFQ2IYCVCVZE, worktime: 1175
score_dict: {'ours': 25, 'ga': 2, 'talkg': 0, 'instag': 0}
workerid: ABL6IBQNPU59Z, worktime: 706
score_dict: {'ours': 11, 'ga': 2, 'talkg': 4, 'instag': 10}
workerid: APLYJOP26WC4W, worktime: 491
score_dict: {'ours': 12, 'ga': 6, 'talkg': 2, 'instag': 7}
workerid: A5OH0SQJYFO2H, worktime: 1089
score_dict: {'ours': 21, 'ga': 0, 'talkg': 0, 'instag': 6}
workerid: A9T4KLSX4JUUP, worktime: 298
score_dict: {'ours': 21, 'ga': 0, 'talkg': 6, 'instag': 0}
workerid: A2KWD81ZH7T234, worktime: 977
score_dict: {'ours': 23, 'ga': 0, 'talkg': 0, 'instag': 4}

In [104]:
# method score distribution by subj+A/B

# create df (workerid, worktime, subj, speech, methodA, methodB, methodA_wins, methodB_wins, ours_wins, ga_wins, talkg_wins, instag_wins)
df_list = []
for i in range(len(submission_df)):
    workerId = submission_df.at[i, 'WorkerId']
    worktime = submission_df.at[i, 'WorkTimeInSeconds']

    answer_json = json.loads(submission_df.at[i, 'Answer.taskAnswers'])
    methods = ['ours', 'ga', 'talkg', 'instag']
    # score_dict = {method: 0 for method in methods}
    for question, answer in answer_json[0].items():
        subj = question.split('_')[0]
        speech = question.split('_')[1]
        methodA = question.split('_')[2]
        methodB = question.split('_')[3]
        question_id = question.split('_')[4]

        methodA_wins = answer[methodA]
        methodB_wins = answer[methodB]

        # using wins, get 0,1,0,0 for ours, ga, talkg, instag
        ours_wins = 0
        ga_wins = 0
        talkg_wins = 0
        instag_wins = 0
        if methodA == 'ours':
            ours_wins = int(methodA_wins)
        elif methodA == 'ga':
            ga_wins = int(methodA_wins)
        elif methodA == 'talkg':
            talkg_wins = int(methodA_wins)
        elif methodA == 'instag':
            instag_wins = int(methodA_wins)
        
        if methodB == 'ours':
            ours_wins = int(methodB_wins)
        elif methodB == 'ga':
            ga_wins = int(methodB_wins)
        elif methodB == 'talkg':
            talkg_wins = int(methodB_wins)
        elif methodB == 'instag':
            instag_wins = int(methodB_wins)

        # create tuple
        df_list.append((workerId, worktime, subj, speech, question_id, methodA, methodB, methodA_wins, methodB_wins, ours_wins, ga_wins, talkg_wins, instag_wins))

# create df
df = pd.DataFrame(df_list, columns=['WorkerId', 'WorkTimeInSeconds', 'subj', 'speech', 'q_id', 'methodA', 'methodB', 'methodA_wins', 'methodB_wins', 'ours_wins', 'ga_wins', 'talkg_wins', 'instag_wins'])
df

,WorkerId,WorkTimeInSeconds,subj,speech,q_id,methodA,methodB,methodA_wins,methodB_wins,ours_wins,ga_wins,talkg_wins,instag_wins
0,A1WTHBAWHRVU4P,559,104,B,q1,ours,instag,True,False,1,0,0,0
1,A1WTHBAWHRVU4P,559,104,B,q2,ours,instag,True,False,1,0,0,0
2,A1WTHBAWHRVU4P,559,104,B,q3,ours,instag,True,False,1,0,0,0
3,A1WTHBAWHRVU4P,559,218,A,q1,ours,ga,True,False,1,0,0,0
4,A1WTHBAWHRVU4P,559,218,A,q2,ours,ga,True,False,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3235,A2KWD81ZH7T234,977,306,A,q2,ours,talkg,True,False,1,0,0,0
3236,A2KWD81ZH7T234,977,306,A,q3,ours,talkg,True,False,1,0,0,0
3237,A2KWD81ZH7T234,977,306,B,q1,talkg,ours,False,True,1,0,0,0
3238,A2KWD81ZH7T234,977,306,B,q2,talkg,ours,False,True,1,0,0,0
3239,A2KWD81ZH7T234,977,306,B,q3,talkg,ours,False,True,1,0,0,0

In [89]:
df_binary = df.drop(columns=['methodA_wins', 'methodB_wins', 'methodA', 'methodB'])
df_binary

,WorkerId,WorkTimeInSeconds,subj,speech,q_id,ours_wins,ga_wins,talkg_wins,instag_wins
0,A1WTHBAWHRVU4P,559,104,B,q1,1,0,0,0
1,A1WTHBAWHRVU4P,559,104,B,q2,1,0,0,0
2,A1WTHBAWHRVU4P,559,104,B,q3,1,0,0,0
3,A1WTHBAWHRVU4P,559,218,A,q1,1,0,0,0
4,A1WTHBAWHRVU4P,559,218,A,q2,1,0,0,0
...,...,...,...,...,...,...,...,...,...
3235,A2KWD81ZH7T234,977,306,A,q2,1,0,0,0
3236,A2KWD81ZH7T234,977,306,A,q3,1,0,0,0
3237,A2KWD81ZH7T234,977,306,B,q1,1,0,0,0
3238,A2KWD81ZH7T234,977,306,B,q2,1,0,0,0
3239,A2KWD81ZH7T234,977,306,B,q3,1,0,0,0

In [90]:
df_binary['WorkTimeInSeconds'].describe()

count    3240.000000
mean      802.366667
std       388.707773
min       176.000000
25%       503.000000
50%       706.000000
75%      1013.000000
max      1731.000000
Name: WorkTimeInSeconds, dtype: float64

In [91]:
df_binary.groupby(['WorkerId','WorkTimeInSeconds']).sum(['ours_wins', 'ga_wins', 'talkg_wins', 'instag_wins']).reset_index()

,WorkerId,WorkTimeInSeconds,ours_wins,ga_wins,talkg_wins,instag_wins
0,A105YRJ9M16N2P,552,9,6,9,3
1,A12HYC1E6I9Q7B,793,24,0,3,0
2,A12ZAHBWT004A0,1258,18,0,3,6
3,A13K6S6AZNO4U0,891,20,0,6,1
4,A15E6XNFAQ2WMU,752,13,4,5,5
...,...,...,...,...,...,...
115,AWY8ZMGJ7RO9Q,928,14,3,6,4
116,AX8D3L76H0JR7,289,11,6,6,4
117,AXDD3EC2J3LI9,395,18,0,6,3
118,AXPTF739HYEZX,517,21,4,2,0
119,AYB2CW4L1Q569,538,17,1,5,4

In [92]:
# Q: what subject+AB did ours lose the most?
df_binary.drop(columns=['WorkTimeInSeconds']).groupby(['subj','speech']).sum(['ours_wins', 'ga_wins', 'talkg_wins', 'instag_wins']).reset_index()

   subj speech  ours_wins  ga_wins  talkg_wins  instag_wins
0   074      A        129       14          15           22
1   074      B        149        8           8           15
2   104      A        112       20          26           22
3   104      B        120       14          23           23
4   218      A        119       13          28           20
5   218      B        136        3          22           19
6   253      A        137       16          12           15
7   253      B        110       11          38           21
8   264      A         94       23          34           29
9   264      B        126       13          23           18
10  302      A        109       14          30           27
11  302      B        117        9          30           24
12  304      A        114       19          29           18
13  304      B        126       15          26           13
14  306      A        105       22          24           29
15  306      B        123       20          17           20
16  460      A        106       18          36           20
17  460      B        109       16          25           30

In [93]:
# Q: what question (1,2,3) did ours lose the most?
df_binary.drop(columns=['WorkTimeInSeconds']).groupby(['q_id']).sum(['ours_wins', 'ga_wins', 'talkg_wins', 'instag_wins']).reset_index()

# finding: we win in realness, lip sync & quality debatable

  q_id  ours_wins  ga_wins  talkg_wins  instag_wins
0   q1        717       94         135          134
1   q2        728       87         147          118
2   q3        696       87         164          133

In [102]:
all_wins = df_binary.drop(columns=['WorkTimeInSeconds']).groupby(['q_id']).sum(['ours_wins', 'ga_wins', 'talkg_wins', 'instag_wins']).reset_index()

all_wins = all_wins.drop(columns=['ours_wins'])
# divide all numbers in all_wins by 360
all_wins['ours_wins_ga'] = 1- all_wins['ga_wins'] / 360
all_wins['ours_wins_talkg'] = 1 - all_wins['talkg_wins'] / 360
all_wins['ours_wins_instag'] = 1 - all_wins['instag_wins'] / 360

all_wins

,q_id,ga_wins,talkg_wins,instag_wins,ours_wins_ga,ours_wins_talkg,ours_wins_instag
0,q1,94,135,134,0.738889,0.625000,0.627778
1,q2,87,147,118,0.758333,0.591667,0.672222
2,q3,87,164,133,0.758333,0.544444,0.630556

In [ ]:
all_wins

In [94]:
# Q: what subject+AB+q did ours lose the most?
df_binary.drop(columns=['WorkTimeInSeconds']).groupby(['subj','speech','q_id']).sum(['ours_wins', 'ga_wins', 'talkg_wins', 'instag_wins']).reset_index()

   subj speech q_id  ours_wins  ga_wins  talkg_wins  instag_wins
0   074      A   q1         41        6           5            8
1   074      A   q2         45        5           4            6
2   074      A   q3         43        3           6            8
3   074      B   q1         53        2           2            3
4   074      B   q2         46        4           3            7
5   074      B   q3         50        2           3            5
6   104      A   q1         35       10           6            9
7   104      A   q2         39        6          10            5
8   104      A   q3         38        4          10            8
9   104      B   q1         44        4           5            7
10  104      B   q2         40        6           9            5
11  104      B   q3         36        4           9           11
12  218      A   q1         42        3           6            9
13  218      A   q2         36        5          11            8
14  218      A   q3         41        5          11            3
15  218      B   q1         45        2           6            7
16  218      B   q2         48        0           8            4
17  218      B   q3         43        1           8            8
18  253      A   q1         39        9           4            8
19  253      A   q2         46        5           5            4
20  253      A   q3         52        2           3            3
21  253      B   q1         37        3          13            7
22  253      B   q2         37        6          11            6
23  253      B   q3         36        2          14            8
24  264      A   q1         30        8          12           10
25  264      A   q2         35        7          11            7
26  264      A   q3         29        8          11           12
27  264      B   q1         41        5           8            6
28  264      B   q2         47        2           5            6
29  264      B   q3         38        6          10            6
30  302      A   q1         38        4           8           10
31  302      A   q2         36        5          11            8
32  302      A   q3         35        5          11            9
33  302      B   q1         41        1          10            8
34  302      B   q2         40        4           8            8
35  302      B   q3         36        4          12            8
36  304      A   q1         37        8           9            6
37  304      A   q2         40        6          10            4
38  304      A   q3         37        5          10            8
39  304      B   q1         41        6           9            4
40  304      B   q2         45        4           7            4
41  304      B   q3         40        5          10            5
42  306      A   q1         34        8           8           10
43  306      A   q2         37        5           8           10
44  306      A   q3         34        9           8            9
45  306      B   q1         40        7           6            7
46  306      B   q2         37        7           7            9
47  306      B   q3         46        6           4            4
48  460      A   q1         40        4           9            7
49  460      A   q2         33        6          14            7
50  460      A   q3         33        8          13            6
51  460      B   q1         39        4           9            8
52  460      B   q2         41        4           5           10
53  460      B   q3         29        8          11           12

In [96]:
# sort by time
df_binary.sort_values(by=['WorkTimeInSeconds'], ascending=True, inplace=True)
df_binary

,WorkerId,WorkTimeInSeconds,subj,speech,q_id,ours_wins,ga_wins,talkg_wins,instag_wins
1145,A3VQDUUA2RI8KL,176,218,B,q3,0,1,0,0
1146,A3VQDUUA2RI8KL,176,218,B,q1,1,0,0,0
1139,A3VQDUUA2RI8KL,176,104,B,q3,0,0,0,1
1134,A3VQDUUA2RI8KL,176,074,A,q1,1,0,0,0
1140,A3VQDUUA2RI8KL,176,218,A,q1,1,0,0,0
...,...,...,...,...,...,...,...,...,...
1181,AKRPDCCP793ET,1731,304,B,q3,1,0,0,0
1180,AKRPDCCP793ET,1731,304,B,q2,1,0,0,0
1182,AKRPDCCP793ET,1731,306,A,q1,1,0,0,0
1183,AKRPDCCP793ET,1731,306,A,q2,1,0,0,0
1168,AKRPDCCP793ET,1731,218,B,q2,0,0,0,1

In [107]:
df

,WorkerId,WorkTimeInSeconds,subj,speech,q_id,methodA,methodB,methodA_wins,methodB_wins,ours_wins,ga_wins,talkg_wins,instag_wins
0,A1WTHBAWHRVU4P,559,104,B,q1,ours,instag,True,False,1,0,0,0
1,A1WTHBAWHRVU4P,559,104,B,q2,ours,instag,True,False,1,0,0,0
2,A1WTHBAWHRVU4P,559,104,B,q3,ours,instag,True,False,1,0,0,0
3,A1WTHBAWHRVU4P,559,218,A,q1,ours,ga,True,False,1,0,0,0
4,A1WTHBAWHRVU4P,559,218,A,q2,ours,ga,True,False,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3235,A2KWD81ZH7T234,977,306,A,q2,ours,talkg,True,False,1,0,0,0
3236,A2KWD81ZH7T234,977,306,A,q3,ours,talkg,True,False,1,0,0,0
3237,A2KWD81ZH7T234,977,306,B,q1,talkg,ours,False,True,1,0,0,0
3238,A2KWD81ZH7T234,977,306,B,q2,talkg,ours,False,True,1,0,0,0
3239,A2KWD81ZH7T234,977,306,B,q3,talkg,ours,False,True,1,0,0,0

In [ ]:
# count how many times methodA has value 'ga' and methodB has value 'ga'
num_ga = df[(df['methodA'] == 'ga') | (df['methodB'] == 'ga')].shape[0]
num_ga

# 9 subj x 2 speech x 20 responses = 360 (per question)
# 9 subj x 2 speech x 20 responses x 3 questions = 1080 (total answers)

1080